*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url('../asset/Poppins.ttf');
}
@font-face {
    font-family: PoppinsBold;
    src: url('../asset/PoppinsBold.ttf');
}

$fontFamily: Poppins, sans-serif;
$fontBold: PoppinsBold, sans-serif;

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../asset/background.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: $fontFamily;
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    .searchbox {
        z-index: 99;
        position: absolute;
        right: 10px;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, .5);
        width: fit-content;
        padding: 5px 10px;
        border-radius: 2rem;
        .btn{
            background: none;
            border: none;
            cursor: pointer;
            .btnImg {
                margin-top: 2px;
                width: 25px;
                filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(27deg) brightness(105%) contrast(99%);
            }
        }
        #city {
            background: none;
            padding: 5px;
            font-size: 1rem;
            border: none;
            color: #fefefe;
            font-family: $fontFamily;
            &:focus {
                outline: none;
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        position: relative;
        .weatherbox {
            top: 25%;
            padding: 10px;
            position: absolute;
            .weatherNlocation {
                display: flex;
                flex-direction: column;
                p {
                    margin: 0;
                    padding: 0;
                    color: #fefefe;
                    font-size: 1.5rem;
                }
                .weather {
                    font-size: 2rem;
                    line-height: 1.5rem;
                }
                .location {
                    font-size: 3rem;
                    line-height: normal;
                }
            }
            .weatherInfo {
                color: #fefefe;
                
                display: flex;
                gap: 20px;
                .right{
                    .temp {
                        padding: 0;
                        margin: 0;
                        line-height: normal;
                        font-size: 10rem;          
                        font-family: $fontBold;
                    }
                    .temp::after {
                        content: "\2103";
                        font-size: 3rem;
                        vertical-align: text-top;
                    }
                }
                .left {
                    padding: 0px 10px;
                    p {
                        font-size: 1.5rem;
                        padding: 0;
                        margin: 0;
                    }
                    border-left: 1px solid #fefefe;
                    height: min-content;
                    margin: auto;
                    .feels::after {
                        content: "\2103";
                        font-size: 1rem;
                        vertical-align: text-top;
                    }
                }
            }
        }     
    }
}

@media screen and (max-width: 600px) {
    .content {
        .weatherbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
    .weather {
        font-size: 1.5rem !important;
    }
    .location {
        font-size: 2rem !important;
    }
    .temp{
        font-size: 5rem !important;
    }
    .temp::after {
        font-size: 2rem !important;
    }
    .left {
        p {
            font-size: 1rem !important;
        }
    }
    .searchbox {
        position: absolute;
        margin: auto;
        left: 10px;
        right: 0;
    }
}
